@font-face {
    font-family: 'plantinregular';
    src: url('../fonts/plantin-webfont.eot');
    src: url('../fonts/plantin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plantin-webfont.woff') format('woff'),
         url('../fonts/plantin-webfont.ttf') format('truetype'),
         url('../fonts/plantin-webfont.svg#plantinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}